/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Noto Sans TC";
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1920px) {

    .nav {
        height: 90px;

        & ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 24px 0px;

            li {
                width: 56;
                height: 42;
                font-weight: 700;
                font-size: 28px;
                margin-left: 40px;
                color: #000;
            }
        }
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
        border: 1px solid #6C757D;

        &L {
            width: 50%;
            display: flex;

            img {
                width: 100%;
            }
        }

        &R {
            display: flex;
            align-items: center;
            margin-left: 24px;

        }
    }

    .tags {
        display: flex;
    }

    .tag {
        margin: 8px 0px;
        font-weight: 500;
        font-size: 24px;
        color: #0027D5;
    }

    .new {
        display: inline-block;
        width: 64px;
        padding: 6px 12px;
        margin-left: 8px;
        border-radius: 40px;
        font-size: 16px;
        color: #FFF;
        background-color: #0027D5;
    }

    .title {
        font-weight: 700;
        font-size: 28px;
    }

    .content {
        margin: auto;
        max-width: 636px;

    }

    .seg {
        margin: 24px 0px;

        h2 {
            font-size: 28px;
            font-weight: 700;
            color: #0027D5;
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        p {
            margin-top: 24px;
        }

        ol {
            margin-bottom: 8px;
            list-style-type: decimal;
            list-style-position: inside;
        }

        ul {
            list-style: disc;
            list-style-position: inside;
        }

        img {
            width: 100%;
        }

    }

    .summery {
        padding: 24px;
        border-radius: 24px;
        background-color: #EDEDED;
    }

    .changePage {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        li {
            padding: 8px 16px;
            border: 1px solid #000;
            border-radius: 40px;
            color: #000;

            &:hover {
                color: #FFF;
                background-color: #000;
            }
        }

    }

    .footer {
        max-width: 1920px;
        border: 1px solid #6C757D;
    }

    .about {
        display: flex;
        justify-content: space-around;
        margin: 80px 0px;
    }

    .mail {
        font-size: 32px;
    }

    .medias {
        display: flex;

        li {
            display: inline;
            margin-right: 4px;
            max-width: 44px;
            max-height: 44px;
            margin-right: 4px;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        margin: 24px auto;
    }

}



@media screen and (min-width: 370px) and (max-width:870px) {

    .banner {

        &L {
            width: 100%;
        }

        &R {
            margin: 48px;
        }
    }

    .content {
        width: 351px;
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        display: none;
    }
}